# User Testing Report

User testing was conducted by Stephanie Csanky on Tuesday October 22nd, 2013 between the times of 8:15am and 8:45am with the following participants:

-  Lianne Hebert
- Sabrina Ng
- Laura Harvey

## Tasks

1. Navigate to list of breeds webpage
2. Go to the 'Tear Stains' webpage
3. Scroll to the bottom of the webpage and go back up to the top using the 'Back to Top button'

---

## Individual Results & Observations

### Lianne Hebert

- She clicked on the 'List of Breeds' webpage without any issues
- She easily navigated to the 'Tear stains' webpage
- She also easily navigated back to the top from the bottom of the homepage.

### Sabrina Ng

- Completed all tasks with no issues
- Easily used the drop down nav and found the "Back to Top" link with ease


### Laura Harvey

- Completed all tasks with no issues
- Easily used the drop down nav and found the "Back to Top" link with ease

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- There were no critical issues.

### Serious, Causes Frustration, May Hinder Completion

- There were no serious user-experience hindering issues.

### Minor, Annoying, Won’t Hinder Completion

- Some issue with FireFox browser where the carousel is off-centered and not displaying properly, otherwise this website works fine in chrome and 
- Small issue where sometimes links won't be clickable, but I seemed to have fixed this before the user testing